@{
    ViewBag.Title = "Excel File";
    var excelFile = ViewBag.ExcelData as ExcelManagementSystem.WebUI.ExcelObjects.ExcelFile;
}

@if (excelFile != null && excelFile.Worksheets.Any())
{

    <h1>@excelFile.Name</h1>

    <a class="btn btn-success" href="@Url.Action("Download", "Excel", new { excelFileName = excelFile.Name })">Download</a>

    foreach (var worksheet in excelFile.Worksheets)
    {
        if (worksheet.Data != null)
        {
            <h2>@worksheet.Name</h2>

            <table class="table">
                <thead>
                    <tr>
                        @foreach (var header in worksheet.Data[0].Skip(1))
                        {
                            <th>@header</th>
                        }
                        <th>Option</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 1; i < worksheet.Data.Length; i++)
                    {
                        <tr>
                            @foreach (var cell in worksheet.Data[i].Skip(1))
                            {
                                <td>@cell</td>
                            }
                            <td>
                                <a class="btn btn-warning" href="@Url.Action("Edit", "Excel", new { worksheetName = worksheet.Name, excelName = excelFile.Name, Id = worksheet.Data[i][0] })">Edit</a>
                                <a class="btn btn-danger" href="@Url.Action("Delete", "Excel",new { worksheetName = worksheet.Name, excelName = excelFile.Name, Id = worksheet.Data[i][0] })">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }

}